* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 0 20px;
    height: 60px;
    background-color: rgb(48, 198, 48);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header .logo {
    color: white;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    list-style: none;
}

header > ul > li > a.nav-items {
    color: white;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

header ul li a.nav-items:hover,
header ul li a.active {
    color: rgb(48, 198, 48) !important;
    background-color: white;
}

.menu-toggle {
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* Banner */
section.banner {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), 
                url('bg.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 20px;
}

section.banner h4 {
    font-size: 20px;
}

section.banner h1 {
    font-size: 50px;
}

/* Keunggulan */
section.keunggulan {
    padding: 0 200px;
    display: flex;
    column-gap: 20px;
    margin-top: -50px;
}

section.keunggulan .keunggulan-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    text-align: center;
    width: 100%;
}

/* About */
section.about {
    padding: 80px 200px;
    display: flex;
    column-gap: 30px;
}

section.about img {
    width: 100px;
    border-radius: 10px;
}

section.about .text-about h2 {
    margin-bottom: 10px;
}

/* Skill */
section.skill {
    padding: 80px 200px;
    background-color: rgb(48, 198, 48);
}

section.skill h2,
section.skill p.deskripsi {
    text-align: center;
    color: white;
}

section.skill h2 {
    margin-bottom: 10px;
}

section.skill p.deskripsi {
    margin-bottom: 40px;
}

section.skill .skill-container {
    display: flex;
    column-gap: 20px;
}

section.skill .skill-container .skill-item {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    transition: .3s ease-in-out;
    cursor: pointer;
}

section.skill .skill-container .skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 5px rgba(0,0,0,.2);
}

section.skill .skill-container .skill-item img {
    width: 100px;
    margin-bottom: 10px;
}

/* Contact */
section.contact {
    padding: 80px 200px;
}

section.contact h2,
section.contact p.deskripsi {
    text-align: center;
}

section.contact h2 {
    margin-bottom: 10px;
}

section.contact p.deskripsi {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.form-control {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
}

.form-control:focus {
    border-color: rgb(48, 198, 48);
}

.btn-submit {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: rgb(48, 198, 48);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-submit:hover {
    background-color: rgb(28, 169, 28);
}

/* Footer */
footer {
    padding: 30px 20px;
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
}

footer .top {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer .top h1 {
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .menu-toggle {
        display: block;
    }

    header ul.active {
        left: 0;
    }

    header ul {
        position: absolute;
        width: 80%;
        height: calc(100vh - 50px);
        background-color: rgb(48, 198, 48);
        top: 60px;
        left: -100%;
        transition: .5s all;
        display: block;
        text-align: center;
    }

    header ul li a.nav-items {
        border-bottom: 1px solid rgba(0,0,0,.2);
        color: white;
    }

    /* Banner */
    section.banner h1 {
        font-size: 30px;
    }

    section.banner h4 {
        font-size: 15px;
    }

    section.banner p {
        font-size: 13px;
    }

    /*  Keunggulan */
    section.keunggulan {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 20px;
        flex-direction: column;
        padding: 0 20px;
    }

    /* About */
    section.about {
        padding-right: 20px;
        padding-left: 20px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    section.about img {
        margin-bottom: 20px;
    }

    /* Skill */
    section.skill {
        padding-left: 20px;
        padding-right: 20px;
    }

    section.skill .skill-container {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    /* Kontak */
    section.contact {
        padding-left: 20px;
        padding-right: 20px;
    }
}